<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoliNet</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-container">
        <img src="{% static 'images/PoliNet.png' %}" alt="PoliNet Logo" class="logo">
        <form action="#" method="post" class="register-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Phone number or email address:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-buttons">
                <button type="button" class="cancel-btn" data-url="{% url 'login' %}">Cancel</button>
                <button type="submit" class="register-btn">Register</button>
            </div>
        </form>
    </div>

    <!-- Include script-ul extern -->
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
