<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoliNet</title>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header">
        <img src="{% static 'images/PoliNet.png' %}" alt="PoliNet Logo" class="logo">
        <img src="{% static 'images/User.png' %}" alt="Profile Icon" class="profile-icon" data-in="{% url 'profile' %}">
    </header>

    <main class="search-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Acțiune</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td><button id="follow-btn-{{ user.id }}" data-user-id="{{ user.id }}" class="follow-btn" onclick="toggleFollow('{{ user.id }}') ">Urmărește</button></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Nu sunt utilizatori disponibili.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer class="footer">
        <a href="{% url 'home' %}" class="footer-btn">🏠</a> <!-- Link către home -->
        <a href="{% url 'search' %}" class="footer-btn">🔍</a> <!-- Link către search -->
        <button class="footer-btn">➕</button>
        <button class="footer-btn logout-btn" data-in="{% url 'login' %}">
          <i class="fas fa-sign-out-alt"></i>
        </button>
    </footer>  

    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
